@font-face {
  font-family: "ReadexPro";
  src: url('ReadexPro-VariableFont_HEXP,wght.ttf') format('truetype');
} 

html, body {
  background-color: #f7f6f5;
  /* set font for entire site */
  font-family: "ReadexPro";
  /* remove white on sides of page*/
  margin: 0;
  padding: 0;
}

.header {
  color: #1D1F25;
  font-size: 50%;
  margin-left: 0px;
} 

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* navbar colors */
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

li {
  float: left;
  padding: 10px;
}

li a {
  color: #1D1F25;
  display: block;
  text-align: center;
  padding: 14 16px;
  text-decoration: none;
} 

li:hover:not(.active) {
  background-color: #ddd;
}

li.active {
  color: white;
  background-color: #ccc;
}

h3 {
  font-size: 100%;
  white-space: nowrap; /* Prevent line breaks */
}

p {
  font-size: 100%;
}

span {
  display: inline-block;
  width: 80px; /* Adjust the width as needed */
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.overview-chart {
  display: flex;
  flex: 25%;
  max-width: 25%;
  align-content: center;
  justify-content: center;
}

.half-chart {
  flex: 40%;
  max-width: 40%;
  padding: 5px;
}

.arrow{
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 5px;
  margin-bottom: 2px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.dropdown {
  display: inline-block;
  background-color: #f3f3f3;
  cursor: default;
  width: 95px;
  margin-left: 6px;
  border: solid;
  border-width: 2px;
  border-color: #666;
}

.dropdown p {
  margin: 0px;
  padding: 8px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  border: solid;
  border-width: 2px;
  border-top-width: 0px;
  border-color: #666;
  display: none;
/* what w3schools said to do */
  position: absolute;
/* fix alignment with dropdown */
  margin: -2px
}

.dropdown button {
  display: block;
  border: none;
  width: 95px;
  text-align: left;
  background-color: #f3f3f3;
  font-size: 16px;
  font-family: "ReadexPro";
  padding: 8px;
  cursor: pointer;
}

.dropdown button:hover {
  color: #000;
  background-color: #ccc;
  border-color: #36a2eb;
}

p.alert {
  border-left: 6px solid #36a2eb;
  padding: 6px;
  background-color: #ddffff;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item {
  padding: 20px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 1190px) {
  .overview-chart {
    flex: 50%;
    max-width: 50%;
  }
  .grid-container {
    grid-template-columns: auto auto;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .overview-chart {
    flex: 100%;
    max-width: 100%;
  }
  .grid-container {
    grid-template-columns: auto;
  }
}

.desc-link, .desc-link:visited {
  text-decoration: none;
  color: #2c9ae6;
}
.desc-link:hover {
  text-decoration: underline;
  color: #236999;
}
